'context-menu':
  "atom-text-editor[data-grammar~=fortran]:not(.mini)":[
    {label:'FORTRAN-Goto Declaration', command:'autocomplete-fortran:go-declaration'}
  ]

'menu': [
  {
    label: 'Packages'
    submenu: [
      label: 'Autocomplete FORTRAN'
      submenu: [
        {label:'Rebuild index', command:'autocomplete-fortran:rebuild'},
        {label:'Save external index file', command:'autocomplete-fortran:saveIndex'}
      ]
    ]
  }
]
